
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 17px;
  padding-left: 10px;
}

.navbar-nav li {
  color: #fdfdfd !important;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.container-fluid {
  padding-top: 120px;
  padding-bottom: 70px;
}

.bg-1 {

    background-color: #073764; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ddffe7; /* Mint */
    color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}

.bg-5 {
  background-color: #2183aa; /* Spearmint */
  color: #555555;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carousel .item img {
   left: -9999px;  /*important */
   right: -9999px;  /*important */
   margin: 0 auto;  /*important */
   max-width: none;  /*important */
   min-width: 100%;
   position: absolute;
}